<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "${JWEBSOCKET_HOME}/conf/spring-beans.dtd">
<beans>  
	<!-- MongoDB server connection -->
	<bean id="mongodbConnection0" class="com.mongodb.MongoClient" destroy-method="close">
		<constructor-arg value="localhost"/>
	</bean>
	
	<bean id="keysDatabase" class="org.jwebsocket.storage.mongodb.MongoDBUtils" factory-method="getDB">
		<constructor-arg ref="mongodbConnection0"/>
		<constructor-arg value="youcrypted"/>
		<!-- database user/password for authentication if required
		<constructor-arg value="user"/>
		<constructor-arg value="pass"/>
		-->
	</bean>
	
	<!-- the mongodb collection that contains the user's keys-->
	<bean id="keysCollection" factory-bean="keysDatabase" factory-method="getCollection">
		<constructor-arg value="keys" />
	</bean>
</beans>
